
<% provide(:title, "My Cart") %>
<h1>My Cart</h1>
<% if !@oi.nil? %>
  <ul>
     <% totalprice = 0 %>
      <% @oi.each do |order_item| %>
          <li>
            Item Name: <%= order_item.item.name %> <br>
            Description: <%= order_item.item.desc %> <br>
            Price: <%= order_item.item.price %> <br>
            Quantity: <%= order_item.quantity %> <br>
            Category: <%= order_item.item.category.name %> <br>
              <% order_item.item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:medium) %>
              <% end %>
          <div class="removeitemparent" id="<%= order_item.item.id %>">
              <button class="removeitem btn btn-primary">Remove From Cart</button>
          </div>
          <% totalprice = totalprice + (order_item.item.price* order_item.quantity) %> 
          </li> 
      <% end %>
    <% if !@oi.first.nil? %>  
    <h3> total price: <%= totalprice %> </h3>
    <button class="makeorder btn btn-primary">Make Order</button>
    <% end %>
  </ul>

  
<% end %>
  
