
<% provide(:title, "My Cart") %>
<div class="jumbotron">
<h1 style= "color:black; font-weight: bold; text-decoration: underline">My Cart</h1>

<% if !@oi.nil? %>

  <ul class="list-group">
     <% totalprice = 0 %>
      <% @oi.each do |order_item| %>
          <li class="list-group-item beda">
            <span style= "color:DarkBlue; font-weight: bold;">Item Name: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.name %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">Description: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.desc %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">Price: </span><span class="badge badge-primary badge-pill" style="float:none">&dollar;<%= order_item.item.price %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">Quantity: </span><span class="badge badge-primary badge-pill" style="float:none"><%= order_item.quantity %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">Category: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.category.name %> </span><br>
              <% order_item.item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:medium), :style => "border: 2px dashed black; margin-bottom: 4px; margin-top: 4px;" %>
              <% end %>
          <div class="removeitemparent" id="<%= order_item.item.id %>">
              <button class="removeitem btn btn-primary">Remove From Cart</button>
          </div>
          <p class="successr<%= order_item.item.id %> alert alert-success" style="display: none;"> Success! Item Removed </p>
          <p class="errorl<%= order_item.item.id %> alert alert-danger" style="display: none;"> Error! </p>
          <% totalprice = totalprice + (order_item.item.price* order_item.quantity) %> 
          </li> 
      <% end %>
    <% if !@oi.first.nil? %>  
    <h2 class="list-group-item beda" style= "color:red; font-weight: bold; text-decoration: underline; border: 2px dashed black;" > total price: &dollar;<%= totalprice %> </h2>
    <div style= "text-align: center; margin-top: 4px;">
    <button class="makeorder btn btn-primary">Make Order</button>
    </div>
    <% end %>
    <p class="successl alert alert-success" style="display: none;"> Success! redirecting to order address page </p>
  </ul>

  
<% end %>
</div>
  
