
<% provide(:title, "My Cart") %>
<h1>My cart</h1>

  <ul>
     <% @oi.each do |order_item| %>
        <div class="removeitemparent" id="<%= order_item.item.id %>">
          <li>
            Item Name: <%= order_item.item.name %> <br>
            Description: <%= order_item.item.desc %> <br>
            Price: <%= order_item.item.price %> <br>
            Quantity: <%= order_item.quantity %> <br>
            Category: <%= order_item.item.category.name %> <br>
              <% order_item.item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:medium) %>
              <% end %>
              <button class="removeitem">Remove From Cart</button>
          </li>
        </div>  
     <% end %>
  </ul>   
  
