<% provide(:title, "Categories & Items") %>
<h1>Categories & Items</h1>

  <% @categories.each do |cate| %>
  <ul>
      <h3> Category: <%= cate.name %> </h3>
      <% cate.items.each do |item| %>
          <li>
             Name: <%= item.name %> <br>
             Description: <%= item.desc %> <br>
             Units: <%= item.units %> <br> 
             Price: <%= item.price %> <br>
             <% item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:medium) %>
             <% end %>
          <% if logged_in? %>   
          <div class = "addo" id = "<%= item.id%>" >
             <button class="addcart">Add To Cart</button>
          </div>
          <% end %>
          </li> 
      <% end %>
  </ul>   
  <% end %>

