
<% provide(:title, "Active Order") %>
<div class="jumbotron">
<h1 style= "color:black; font-weight: bold; text-decoration: underline">Current Active Orders</h1>
<% if !@order.nil? %>
  <% @order.each do |order| %>
    <% @oi = OrderItem.where("order_items.order_id = ? AND order_items.active = 1",order.id) %>

      <% if !@oi.nil? %>
      <h3 style= "color:black; font-weight: bold; text-decoration: underline"> Order ID:<%= order.id %> | Creation Date: <%=order.created_at%></h3>
        <div  class="list-group-item beda">
        <ul class="list-group">
           <% totalprice = 0 %>
           <% @oi.each do |order_item| %>
                <li class="list-group-item beda" style="border:none;">
                  <span style= "color:DarkBlue; font-weight: bold;">Item Name: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.name %></span> <br>
                  <span style= "color:DarkBlue; font-weight: bold;">Description: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.desc %></span> <br>
                  <span style= "color:DarkBlue; font-weight: bold;">Price: </span><span class="badge badge-primary badge-pill" style="float:none">&dollar;<%= order_item.item.price %></span> <br>
                  <span style= "color:DarkBlue; font-weight: bold;">Quantity: </span><span class="badge badge-primary badge-pill" style="float:none"><%= order_item.quantity %></span> <br>
                  <span style= "color:DarkBlue; font-weight: bold;">Category: </span><span style= "color:Brown; font-weight: bold;"><%= order_item.item.category.name %></span> <br>
                    <% order_item.item.photos.each do |photo| %>
                      <%= image_tag photo.image.url(:medium), :style => "border: 2px dashed black" %>
                    <% end %>
                  <% totalprice = totalprice + (order_item.item.price*order_item.quantity) %>
                </li>
           <% end %>
           <p style= "color:black; font-weight: bold; text-decoration: underline">Order Total Price: &dollar;<%=totalprice%></p>
        </ul> 
        <div class = "cancelorderparent" id = "<%=order.id%>">
        <button class="cancelorder btn btn-primary">Cancel Order</button>  
        </div>
        <p class="successl<%=order.id%> alert alert-success" style="display: none;"> Success! Order Cancelled & Money got Refunded. </p>
        <p class="errorl<%=order.id%> alert alert-danger" style="display: none;"> Error! </p>
        </div>
      <% end %>

  <% end %>
<% end %> 
</div>
