
<% provide(:title, "My Order") %>
<h1>Current Order</h1>
<% if !@oi.nil? %>
  <ul>
     <% @oi.each do |order_item| %>
          <li>
            Item Name: <%= order_item.item.name %> <br>
            Description: <%= order_item.item.desc %> <br>
            Price: <%= order_item.item.price %> <br>
            Quantity: <%= order_item.quantity %> <br>
            Category: <%= order_item.item.category.name %> <br>
              <% order_item.item.photos.each do |photo| %>
                <%= image_tag photo.image.url(:medium) %>
              <% end %>
          </li>
     <% end %>
  </ul> 
  <button class="cancelorder">Cancel Order</button>  
<% end %>
