<% provide(:title, @user.name) %>
<div class="jumbotron">
<div class="row">
  <aside class="col-md-4">
    <p class = "hdhd">My Info</p>
    <section class="user_info">
      <div style="margin-top: -10px;">
        <%= gravatar_for @user %>
      </div>
    </section>
    <section class="user_info" style="margin-top:-14px;">  
      <ul class="list-group">
      <li class="list-group-item beda"><div style= "color:red; font-weight: bold;">Name:</div><div style= "color:blue; font-weight: bold;"> <%= @user.name %></div></li>
      <li class="list-group-item beda"><div style= "color:red; font-weight: bold;">Email:</div><div style= "color:blue; font-weight: bold;"> <%= @user.email %></div></li>
      <li class="list-group-item beda"><div style= "color:red; font-weight: bold;">Gender:</div><div style= "color:blue; font-weight: bold;"> <%= @user.gender %></div></li>
      <li class="list-group-item beda"><div style= "color:red; font-weight: bold;">Birthday:</div><div style= "color:blue; font-weight: bold;"><%= @user.birthday %></div></li>
      <li class="list-group-item beda"><div style= "color:red; font-weight: bold;">Balance:</div><div style= "color:blue; font-weight: bold;"> &dollar;<%= @user.balance %></div></li>
      </ul>
    </section>
  </aside>
  
  <aside class="col-md-4" style="margin-top:3.5px;">
      <p class = "hdhd">My Addresses</p>
      <% countr = 1 %>
      <% @address.each do |addr| %>
        <div class= "list-group-item beda">
        <p style= "color:gold; font-weight: bold;"> Address #<%=countr%> </p>
        <ul class="list-group">
          <li class="list-group-item beda"><span style= "color:green; font-weight: bold;">Address:</span><span style= "color:brown; font-weight: bold;"> <%=addr.address %> </span></li>
          <li class="list-group-item beda"><span style= "color:green; font-weight: bold;">State Or Province:</span><span style= "color:brown; font-weight: bold;"> <%=addr.state_or_province %> </span></li>
          <li class="list-group-item beda"><span style= "color:green; font-weight: bold;">City:</span><span style= "color:brown; font-weight: bold;"> <%=addr.city %> </span></li>
          <li class="list-group-item beda"><span style= "color:green; font-weight: bold;">Country:</span><span style= "color:brown; font-weight: bold;"> <%=addr.contry %> </span></li>
          <span class="editaddrparent" id="<%= addr.id %>">
              <button class="editaddr btn btn-primary">Edit Address</button>
          </span>
          <span class="removeaddrparent" id="<%= addr.id %>" style= "float:right;">
              <button class="removeaddr btn btn-primary">Delete Address</button>
          </span>
            <p class="successr<%= addr.id %> alert alert-success" style="display: none;"></p>
            <p class="errorl<%= addr.id %> alert alert-danger" style="display: none;"></p>
        </ul>    
        </div> 
        
        <br>
        <% countr+=1 %>
      <% end %>
    
    <a href="../createaddress">
      <button class="btn btn-primary"">Add New Address</button>
    </a>
  </aside>


  <aside class="col-md-4" style="margin-top:3.5px;">
      <p class = "hdhd">My Phone Numbers</p>
      <% countr = 1 %>
      <% @phone.each do |phone| %>

        <div class= "list-group-item beda">
        <p style= "color:gold; font-weight: bold;"> Phone #<%=countr%> </p>
        <ul class="list-group">
          <li class="list-group-item beda"><span style= "color:green; font-weight: bold;">Phone Number: </span><span class="badge badge-primary badge-pill" style="float:none"> <%=phone.number %> </span></li>

          <span class="editphoneparent" id="<%= phone.id %>">
              <button class="editphone btn btn-primary">Edit Phone</button>
          </span>
          <span class="removephoneparent" id="<%= phone.id %>" style= "float:right;">
              <button class="removephone btn btn-primary">Delete Phone</button>
          </span>
            <p class="successa<%= phone.id %> alert alert-success" style="display: none;"></p>
            <p class="errorb<%= phone.id %> alert alert-danger" style="display: none;"></p>
        </div> 
        </ul>
        <br>
        <% countr+=1 %>
    <% end %>
    
    <a href="../createphone">
      <button class="btn btn-primary"">Add New phone</button>
    </a>

  </aside>

</div>
</div>