<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
      </h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Name: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
      <p>Gender: <%= @user.gender %></p>
      <p>Birthday: <%= @user.birthday %></p>
      <p>Balance: &dollar;<%= @user.balance %></p>
    </section>
  </aside>
</div>