<% provide(:title, 'Choose Address') %>
<div class="jumbotron">
<h2 class = "hdhd">Choose Address For Your Order</h2>

<% if !@address.empty? %>
  <ul class="list-group">
    <% countr = 1 %>
      <% @address.each do |addr| %>
          <p class = "hdhd">Address #<%=countr%></p>
          <li class="list-group-item beda">
            <span style= "color:DarkBlue; font-weight: bold;">Address: </span><span style= "color:Brown; font-weight: bold;"><%= addr.address %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">State Or Province: </span><span style= "color:Brown; font-weight: bold;"><%= addr.state_or_province %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">City: </span><span style= "color:Brown; font-weight: bold;"><%= addr.city %></span> <br>
            <span style= "color:DarkBlue; font-weight: bold;">Country: </span><span style= "color:Brown; font-weight: bold;"><%= addr.contry %></span> <br>
          <div class="orderaddressparent" id="<%= addr.id %>">
              <button class="orderaddress btn btn-primary">Make Order Using This Address</button>
          </div>
          <p class="successl<%= addr.id %> alert alert-success" style="display: none;"> Success!,Order is created please wait 5 Seconds being redirect to the order page! </p>
          <p class="errorl<%= addr.id %> alert alert-danger" style="display: none;"> Error!, you got no enough balance or some of your products are not exist anymore </p>
          </li> 
          <br>
      <% countr += 1 %>    
      <% end %>  
  </ul>

<% else %>
  <h2> please add address first so that we can proceed your order </h2>
<% end %>
</div>
  