<% provide(:title, 'Choose Address') %>
<h1>Choose Address For Your Order</h1>

<p class="successl alert alert-success" style="display: none;"> Success!, wait 5 Seconds being redirect to the order page! </p>
<p class="errorl alert alert-danger" style="display: none;"> Error! </p>

<% if !@address.empty? %>
  <ul>
      <% @address.each do |addr| %>
          <li>
            Address: <%= addr.address %> <br>
            State Or Province: <%= addr.state_or_province %> <br>
            City: <%= addr.city %> <br>
            Country: <%= addr.contry %> <br>
          <div class="orderaddressparent" id="<%= addr.id %>">
              <button class="orderaddress btn btn-primary">Choose This Address</button>
          </div>
          </li> 
      <% end %>
  </ul>

<% else %>
  <h2> please add address first so that we can proceed your order </h2>
<% end %>
  